<header class="border border-red-800 flex flex-col items-center">
    <h1 class="border border-black font-bold text-3xl">{{ .Site.Title }}</h1>
    <nav>
        <ul>
            {{- with site.Menus.main }}
                {{ range . }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            {{- end }}
            <li class="inline"><a href="#misc">Home</a></li>
            <li class="inline"><a href="">About</a></li>
            <li class="inline"><a href="">Contact</a></li>
        </ul>
    </nav>
</header>